<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
</head>

<body>
    <div id="app">
        <div class="container">
            <button @click="down" id="down">down</button>
            <div v-for="(slide, index) in slides" class="slider-wrapper" tabindex="0">
                <div v-if="index === x" class="item">                        
                    <img :src="slide.image" alt="Spiderman" />
                    <div class="text">
                        <h3>{{slide.title}}</h3>
                        <p>
                            {{slide.text}}
                        </p>
                        <ol class="flex">
                            <li @click="image1">1</li>
                            <li @click="image2">2</li>
                            <li @click="image3">3</li>
                            <li @click="image4">4</li>
                            <li @click="image5">5</li>
                        </ol>
                    </div>
                </div>
            </div>
            <button @click="up" id="up">up</button>
        </div>

    </div>

    <script src="./js/script.js"></script>
</body>

</html>